
body{
    font-family:'Open Sans',cursive;
}
#wrapper{
    max-width:940px;
    margin:0 auto;
    padding:0 5%;

}
a{
    text-decoration:none;
}
img{
    max-width:100%;
}
header{
    float:left;
    margin:0 0 30px 0;
    padding:5px 0 0 0;
    width: 100%;
}
#logo{
    text-align:center;
    margin:0;
}
h1{
     font-family: 'Nothing You Could Do', cursive;
     margin: 15px 0;
     font-size:1.75em;
}

h2{
    font-size:0.75em;
    margin:-5px 0 0;
    font-weight:normal;
}
nav{
    text-align:center;
    padding:10px 0;
    margin:20px 0 0;
}
nav ul{
    list-style:none;
    padding:10px 0;
    margin: 0 10px;
}
nav li{
    display:inline-block;
}
nav a{
    font-weight:800;
    padding:15px 10px;
}
footer{
    font-size:0.75em;
    text-align:center;
    padding-top:50px; 
    color:aqua;
    clear:both;
}
.social-media-icons{
    width:20px;
    height:20px;
    margin:0 5px;
}
#gallery{
    margin:0 auto; 
    padding:0;  
    list-style:none;
    
}
#gallery li{
    float:left;
    width:45%;
    margin:2.5%;
    background-color:grey;
    color:blue;
}
gallery li p a{
    margin:0;
    padding:5%;
    font-size:0.75em;
    color:turquoise;
    
}
body{
    background-color:black;
    color:grey;
}
a{
    color:whitesmoke;
}
header{
    background:whitesmoke;
}
h1,h2{
    color:grey;
}
nav{
    background:grey;
}
nav a, nav a:visited{
    color:grey;
}
nav a.selected,nav a:hover{
    color:black;
}
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}
div#carousel { 
  perspective: 1200px; 
  background: #100000; 
  padding-top: 10%; 
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 425px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
  color: #fff; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer;}
/*do not use*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);*/

body {
  background-color: black;
  color: whitesmoke;
  line-height: 140%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 17px;
}

.contact { 
  display: block;
  max-width: 600px;
  margin: 30px auto;
  background-color:black;
     
}

.frame {
  display: block;
  padding: 30px;
  position: relative;
   border-style: solid;
   border-width: 30pxs;
	-webkit-box-shadow:
		inset 0px 3px .5em rgba(0,0,0,.25),
		inset .1em 0px .1em rgba(0,0,0,.1),
		inset -0.1em 0px .1em rgba(0,0,0,.05),
		inset 0 .3em .2em #fff,
        0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow:
		inset 0px 3px .5em rgba(0,0,0,.25),
		inset .1em 0px .1em rgba(0,0,0,.1),
		inset -0.1em 0px .1em rgba(0,0,0,.05),
		inset 0 .3em .2em #fff,
        0px 1px 3px rgba(0,0,0,0.25);
	box-shadow:
		inset 0px 3px .5em rgba(0,0,0,.25),
		inset .1em 0px .1em rgba(0,0,0,.1),
		inset -0.1em 0px .1em rgba(0,0,0,.05),
		inset 0 .3em .2em #fff,
        0px 1px 3px rgba(0,0,0,0.25);
}

.frame input:valid, .frame textarea:valid {
    border-color: darkslategrey;
}

.frame label {
    font-size: 12px;
    margin-top: 10px;
    display: block;
    position: relative;
}

.frame label.required:after {
    content: "req";
    background-color: black;
    color: grey;
    padding: 0 5px;
    text-shadow: none;
    line-height: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 5px;
}

.frame label.required:hover input, .frame label.required:hover textarea  {
    border-color: #EE4E44;
}

.frame label:hover.required:after {
    content: "required";
}

/*** Form Styling ***/
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

select,.input,.textarea,.radio,.checkbox {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

select,input,textarea,.input input,.textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 8px 10px;
    outline: none;
    border: 2px solid #e5e5e5;
    border-radius: 0;
    background: #fff;
    font: 13px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: black;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

textarea,.textarea textarea {
    height: auto;
    resize: none;
}

select {
    cursor: pointer;
    color: #424649;
    padding-right: 30px;
    background: black url('../images/chevron-down.png') no-repeat scroll right center;
}

select:hover,input:hover,.input:hover input,textarea:hover,.textarea:hover textarea,.checkbox:hover i {
    border-color: #8dc9e5;
}

.button:hover {
    opacity: 1;
}

select:focus,input:focus,textarea:focus,.input input:focus,.textarea textarea:focus,.checkbox input:focus + i {
    border-color: #2da5da;
}

.input input:focus ~ i.icon-append {
    background: black;
}

input[type=checkbox],input[type=radio] {
    border: 1px solid #c0c0c0;
    margin: 0 .5em 0 0;
    padding: 0;
    line-height: 1em;
    width: 1.25em;
    height: 1.25em;
    background: #fff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#fbfbfb));
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -moz-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    vertical-align: text-top;
    display: inline-block;
    cursor: pointer;
}

input[type=checkbox]:disabled,input[type=radio]:disabled {
    opacity: 0.75;
}

input[type=radio] {
    -webkit-border-radius: 2em;
/* Make radios round */;
}

input[type=checkbox]:checked::after {
    content: "✔";
    display: block;
    text-align: center;
    font-size: 12px;
    height: 12px;
}

input[type=radio]:checked::after {
    content: "●";
    display: block;
    font-size: 18px;
    height: 12px;
    line-height: 10px;
    text-align: center;
}


/****** IGNORE ******/
.fwpolice {
  display:block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.fwpolice a{
  text-decoration: none;
  color: black;
}
